@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



/* colors */
:root {
    --font_main: 'Inter', sans-serif;
    --bg_color: #ffffff;
    --color_primary: #0F6F98;
    --color_primary_dark: #07597B;
    --color_primary_light: #3CC5F2;
    --color_accent: #5ED4F8;
    --color_dark: #0A3E56;
    --color_gray: #6B7B8D;
    --color_light: #EAF8FD;
    --color_border: #D0DFE8;
    --border_light: #D0DFE8;
    --detail_shadow: 0 10px 40px rgba(0,0,0,0.1);    
    --card_shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* page */
body {
    font-family: var(--font_main);
    background-color: var(--bg_color);
    color: var(--color_dark);
    padding-top: 20px;
}

/* links */
a {
    text-decoration: none;
    color: inherit;
}

/* lists */
ul {
    list-style: none;
}
